



.tabs{
    width: 200px;
    display: flex;
   flex-direction: row;
   
   

}

.content {
width: 600px;
min-height: 300px;
padding: 10px 10px;


border: solid black 1px;
}

.item{
border-radius: 10px 10px 0 0;
   border: solid black 1px;
   border-bottom: 0;
   padding: 0 10px 0 10px;
   margin-right: 5px;
}

.item:hover{
   cursor: pointer;
  
}